<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style>
body {text-align: center;}
</style>
 
</head>
<body>
    <a href="{% url 'index_page' %}">Back to main page</a> <br>
    <a href="{% url 'product_edit' product.pk %}">editing the product</a> <br>
    <a href="{% url 'product_delete' product.pk %}">delete product</a> <br>
    the product name is : {{product.name}} <br>
    the description is : {{product.description}}
</body>
</html>
