{% load static %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style>
body {text-align: center;}
</style>
 
</head>
<body>
    <h1>Products</h1>
    {% for i in products %}
        <div class="product">
            <img src="{{ i.image.url }}" alt="{{ i.name }}" width="200"> <br>
            <a href="{% url 'product_detail' i.pk %}">{{i.name}}</a> :  
            {{i.description}} <br>
            <hr>
        </div>
    {% endfor %}
</body>
</html>
